<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>色</th>
            <th>数量</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10001</td>
            <td>介護用ベッドA</td>
            <td>赤(レッド)</td>
            <td>100</td>
        </tr>
        <tr>
            <td>10002</td>
            <td>介護用ベッドA</td>
            <td>黒(ブラック)</td>
            <td>12</td>
        </tr>
        <tr>
            <td>10003</td>
            <td>介護用ベッドB</td>
            <td>青(ブルー)</td>
            <td>87</td>
        </tr>
        <tr>
            <td>20001</td>
            <td>業務用マスクB</td>
            <td>白(ホワイト)</td>
            <td>4000</td>
        </tr>
    </tbody>
</table>