<form class="form-horizontal">
    <fieldset>
        <legend>&nbsp;&nbsp;検索条件</legend>
        <div class="form-group" id="firstBox">
            <label class="col-lg-1 control-label">商品ID</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="inputId" placeholder="Product ID" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-1 control-label">名称</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="inputName" placeholder="Name" />
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-1 control-label">色</label>
            <div class="col-lg-3">
                <select class="form-control" id="select">
                    <option>白(ホワイト)</option>
                    <option>黒(ブラック)</option>
                    <option>赤(レッド)</option>
                    <option>青(ブルー)</option>
                    <option>緑(グリーン)</option>
                    <option>橙(オレンジ)</option>
                    <option>灰(グレー)</option>
                    <option>水色(ライトブルー)</option>
                    <option>茶(ブラウン)</option>
                    <option>金(ゴールド)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-1">
                <a routerLink="/result">
                    <button type="submit" class="btn btn-primary">検索</button>
                </a>
                &nbsp;
                <button type="reset" class="btn btn-danger">条件クリア</button>
            </div>
        </div>
    </fieldset>
</form>